$screen-xs: 400px;
$screen-sm: 640px;
$mobile: 767.98px; // 768px
$screen-md: 991.98px; // 992px  
$screen-xl: 1199.98px; // 1200px
$screen-2xl: 1399.98px; // 1400px
$screen-3xl: 1599.98px; // 1600px
$screen-4xl: 1799.98px; // 1800px

$color-black:#000;
$color-white:#fff;
$color-primary:#020a19;
$color-pink:#dd0735;
$color-lightblack:#333333;
$color-opacity-greyfont:#FFFFFF99;
$color-greyfont:#FFFFFFBF;
$color-bg-lightgrey:#f7f7f7;
$color-border-grey:#d7d7d7;
$color-bg-midgrey:#020A190D;
$color-bg-darkgrey:#1A1C2B;
$color-footer-grey:#556575;
$color-border-darkgrey:#dbd9d2;
$color-footer-bg-white:#F2f2F2;
$color-banner-grey-text:#BFC1C599;
$color-banner-btn-yellow:#FCD598;
$color-banner-btn-blue:#C3E1E7;
$color-banner-btn-green:#BCDCBE;
$color-hover-pink:#BB022A;

$font-primary:"Mulish";
$font-weight-400:400;
$font-weight-600:600;
$font-weight-700:700;

$line-height-100:100%;
$line-height-120:120%;
$line-height-130:130%;
$line-height-140:140%;
$line-height-150:150%;
$line-height-160:160%;